*{
    box-sizing: border-box;
}
body{
    background: #181818;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    padding: 0 1.5em;
}
.content{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}
.titu{
    text-align: center;
    font-size: 3em;
}
.content-text form{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.content-text form div{
    margin: 0;
    padding: 1em;
}
.content-text form .bl,
.content-text form button{
    grid-column: 1/3;
}
.content-text{
    background: #222222 ;
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
}
.content-text form input,
.content-text form select,
.content-text form button{
    width: 90%;
    background: none;
    padding: .7em;
    border: none;
    outline: 0;
    color: #fff;
    border-bottom: 1px solid red;
}

.content-text form button{
    
    background: #b70e21;
    border: none;
    color: #fff;
    text-transform: uppercase;
    padding: 1em;
}
.content-text form button:hover,
.content-text form button:focus{
    background: #b1364f;
    color: #181818;
    transition: background-color 1.5s ease-out;
}
.selet-control{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.selet-control .lugar{
    grid-column: 1/3;
}
.selet-control div{
    padding: 0em;
}
.lugar{
    text-align: left;
    font-size: 1em;
}
.content-text > * {
    padding: 1em;
}
.content-text form .bl{
    max-width: auto;
}
@media(min-width:700px){
    body{
        padding: 0 4em;
    }
    .content-text > *{
        padding: 2em;
    }
}
